@function vw($px) {
    @return $px / 1440 * 100vw;
}

body {
    width: 100%;
    background-color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#l-header,
#l-footer {
    width: vw(1000);
    height: vw(120);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: vw(435);
    margin-inline: auto;
    margin: 0 auto vw(10);
}

#l-top {
    position: relative;
    width: vw(1440);
    height: vw(580);
    margin: 0 auto vw(10);
}

#l-about {
    width: vw(1000);
    height: vw(521);
    margin: 0 auto vw(10);
}

#l-works {
    width: vw(1000);
    height: vw(490);
    margin: 0 auto vw(10);
}

#l-review {
    width: vw(1000);
    height: vw(661);
    margin: 0 auto vw(10);
}

#l-consaltation {
    width: vw(1000);
    height: vw(457);
    margin: 0 auto vw(10);
}
