
@function vw($px) {

	@return $px / 1440 * 100vw;
}
body{
    width:100%;
    background-color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
#l-header,
#l-footer{
    width:1000px;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 435px;
    margin-inline:auto;

}

#l-top{
    position: relative;
    width:1440px;
    height: 560px;
}

#l-about{
    width:1000px;
    height: 521px;
    margin:10px auto 0;
}

#l-works{
    width:1000px;
    height: 490px;
    margin:10px auto 0;
}

#l-review{
    width:1000px;
    height: 661px;
    margin:10px auto 0;
}

#l-consaltation{
    width:1000px;
    height: 457px;
    margin:10px auto 0;
}