body{
    width:100%;
    background-color: white;
}
a{
    text-decoration: none;
}
#l-header{
    height: 130px;
    display: flex;
    align-items: center;
}

#l-top{
    position: relative;
    width:1440px;
    height: 560px;
}

#l-about{
    width:1000px;
    height: 521px;
    margin:10px auto;
}

#l-works{
    width:1000px;
    height: 490px;
    margin:10px auto 0;
}

#l-review{
    width:1000px;
    height: 661px;
    margin:10px auto 0;
}