@function vw($px) {
    @return $px / 1440 * 100vw;
}

.c-title {
    font-size: vw(50);
    line-height: vw(60.5);
    padding-block: vw(10);
    font-weight: 400;
}

.c-sentence {
    font-size: vw(20);
    line-height: vw(24.2);
    font-weight: 400;
}

.c-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: vw(50);
    background-color: #000080;
    color: white;
    border-radius: vw(25);
    font-size: vw(30);
    line-height: vw(36.3);
}

.c-arrow {
    width: vw(32);
}

.c-header__logo,
.c-footer__logo {
    width: vw(75);
    height: vw(80);
    margin: vw(10);
}

.c-header__menu,
.c-footer__menu {
    opacity: 1;
    transition: opacity 0.3s ease;
    &:hover {
        opacity: 0.5;
    }
}

.c-top__title {
    font-size: vw(48);
    line-height: vw(58);
}

.c-top__sentence-sub {
    font-size: vw(32);
    line-height: vw(38.7);
}

.c-works__title {
    font-size: vw(30);
    line-height: vw(36.3);
    font-weight: 400;
}

.c-works__img {
    width: vw(326.67);
    height: vw(203);
    padding-block: vw(5);
}

.c-works__sentence {
    font-size: vw(20);
    line-height: vw(24.2);
    font-weight: 400;
}

.c-review__img {
    width: vw(480);
    height: vw(300);
    padding-block: vw(5);
}

.c-review__text {
    width: vw(300);
    height: vw(175);
    font-size: vw(20);
    line-height: vw(24.2);
    font-weight: 400;
}

.c-review__customer-name {
    font-size: vw(20);
    line-height: vw(24.2);
    font-weight: 400;
}

.c-consaltation__text {
    padding-block-start: vw(18);
    font-size: vw(20);
    line-height: vw(24.2);
    font-weight: 400;
}
