.p-header__left{
    margin-inline-start: 220px;
    margin-block-start: 10px;
    width:95px;
    height: 100px;
}
.p-header__right{
    margin-inline-start: 435px;
    &-menu{
        ul{
            display: grid;
            gap: 40px;
            grid-template-columns: auto auto auto auto auto;
            font-size: 30px;
        }
    }
}

.p-top__sentence{
    position: absolute;
    top:299px;
    left:618px;
    width:531px;
    height: 240px;
    background-color: #ffffff;
    opacity: 0.9;
    display: grid;
    gap: 20px;
    justify-items: center;
    align-items: center;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.p-about__block{
    display: flex;
    &-left{
        width:480px;
        height: 400px;
    }
    &-right{
        width: 480px;
        height: 376px;
    }
    &-button{
        width:322px;
        margin-block-start: 62px;
        margin-inline: auto;
        
    }
}