@function vw($px) {
    @return $px / 1440 * 100vw;
}
//下からせりあがるようなアニメーション
@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 0.9;
    }
}
.p-header__left,
.p-footer__left {
    margin-block: vw(10);
    width: vw(95);
    height: vw(100);
}

.p-header__right,
.p-footer__right {
    width: vw(470);
    &-menu {
        height: 100%;
        ul {
            height: 100%;
            display: grid;
            gap: vw(40);
            grid-template-columns: auto auto auto;
            font-size: vw(30);
            line-height: vw(36.3);
            font-weight: 400;
            align-items: center;
            justify-items: stretch;
        }
    }
}

.p-top__sentence {
    position: absolute;
    top: vw(299);
    left: vw(618);
    width: vw(531);
    height: vw(240);
    background-color: #ffffff;
    opacity: 0.9;
    display: grid;
    gap: vw(20);
    justify-items: center;
    align-items: center;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    animation: slideUp 1s ease-out forwards;
    transform: translateY(100%);
    opacity: 0;
}

.p-top__img {
    width: 100%;
    height: vw(580);
}

.p-about__block {
    display: grid;
    gap: vw(40);
    grid-template-columns: 1fr 1fr;
    padding-block: vw(10);
    &-left {
        width: vw(480);
        height: vw(400);
    }
    &-img{
        width: vw(480);
        height: vw(400);
    }
    &-right {
        width: vw(480);
        height: vw(376);
    }
    &-button {
        width: vw(322);
        margin-block-start: vw(62);
        margin-inline: auto;
    }
}

.p-works__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: vw(10);
    padding-block-start: vw(10);
}

.p-review__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: vw(40);
    padding-block-start: vw(10);
}

.p-review__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: vw(80);
}

.p-review__block-button {
    width: vw(212);
    margin-block-start: vw(20);
    margin-inline: auto;
    margin-block-end: vw(10);
}

.p-consaltation__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: vw(10);
    &-left {
        width: vw(460);
        height: vw(366);
        img {
            width: vw(460);
            height: vw(300);
        }
    }
    &-right {
        width: vw(530);
        height: vw(366);
        &-info {
            width: vw(530);
            height: vw(252);
            font-size: vw(30);
            font-weight: 400;
            line-height: vw(36.3);
            text-align: center;
        }
    }
    &-button {
        width: vw(272);
        margin-block-start: vw(36);
        margin-inline: auto;
    }
}
